{
    "steam": {
        "username": "secret",
        "password": "superSecret",
        "twoFactorSecret": "superDuperSecret",
        "apiKey": "private"
    },
    "database": {
        "host": "localhost",
        "port": "5432",
        "username": "csgo",
        "password": "secret",
        "database": "csgo"
    },
    "demosDir": "/home/csgo/demos/",
    "debug": "false"
}