{
    "steam": {
        "username": "secret",
        "password": "superSecret",
        "twoFactorSecret": "superDuperSecret",
        "apiKey": "private"
    },
    "faceit": {
        "apiKey": "private"
    },
    "discord": {
        "enabled": true,
        "apiKey": "",
        "channelId": "
    }
    "database": {
        "host": "localhost",
        "port": "5432",
        "username": "csgo",
        "password": "secret",
        "database": "csgo"
    },
    "parser": {
        "workerCount": 5
    },
    "demosDir": "/home/csgo/demos/",
    "debug": "false"
}